
.main-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
}
.main-container{
      display: flex;
      align-items: center;
      width: 90%;
      height: 100%;
}

.landing-area{
      background-image: url('/Images/LandingPageIMages/tylaGlitch.png');
      width: 100%;
      height: 100vh;
      background-position: center;
      background-size: cover;
}
.landing-banner{
      color: white;
      font-size: 128px;
      
}
.landing-banner-span{
      color: rgb(255, 217, 0);
}
.landing-banner-container{
      width: fit-content;
      position: absolute;
      top: calc(100vh - 50%);
      white-space: nowrap;
      animation: landingBanner 10s infinite;
      animation-timing-function: linear;
}
@keyframes landingBanner{
      0%{
            transform: translateX(100%);
      }
      100%{
            transform: translateX(-100%);
      }
}

/* SECOND SECTION */
.second-section{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
}
.links-container{
      display: flex;
      width: 90%;
      justify-content: space-between;
      height: 50%;
}
.second-container{
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 49%;
      height: 100%;
}
.second-h1{
      font-size: 24px;
      font-weight: 100;
      color: white;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;
}
.right-arrow{
      height: 18px;
}
.second-img-container{
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}
.second-img{
      width: 100%;
      transition: 0.4s ease;
}
.second-container:hover .second-img{
      transform: scale(1.2);
}
.presentation-video{
      width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.presentation-container{
      width: 90%;
      padding-top: 50.25%;
      height: 0px;
      position: relative;
}
.presentation-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
